<section class="about" id="about">
  <h2 class="about__heading" id="aboutHeader">About me</h2>
  <p class="about__text" id="aboutText1">I make websites and web apps on top of modern web frameworks or with native JS. I have 5+ years of experience in web dev.
  </p>
  <p class="about__text" id="aboutText2">If you need a site or an app you can contact me with buttons below.
  </p>
</section>